*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.scoot-container{
    width: 1440px;
    border: 1px solid;
    margin: 0 auto
}
body{
    @import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
    overflow-x: hidden;
}